.searchform {
    border: 1px solid;
    border-color: #979797;
    border-radius: 2.4rem;
    height: 3.8rem;
    width: 28rem;
    padding: 1.2rem 1.2rem 1.2rem 3.2rem;
    background-image: url('/public/icons/SearchIcon.jsx');
    background-repeat: no-repeat;
    background-position: 1rem 1rem; 
    background-color: transparent;
    color: #000000;
}

.searchform::placeholder{
    font-size: 1.2rem;
}

